nav {
  padding: 20px;
  ul {
    list-style-type: none;
    line-height: 3.4rem;
    margin-bottom: 0px;
  }

  li {
    display: inline;
    padding: 7px;
  }
  h1.title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin:0;
    letter-spacing: 2px;
  }
}