$base-font-family: 'montserrat';

html {
  font-family: $base-font-family;
  font-size: 12px;
  
  @media (min-width: 550px) {
    font-size: 12px;
  }
}

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, form {
  font-family: 'montserrat' sans-serif;
}

h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }


@media (min-width: 550px) {
  h2 { font-size: 2.5rem; }
  h3 { font-size: 2rem; }
}

p {
  font-size: 1.5rem;
}

