@charset "utf-8";
@import "normalize";
@import 'typography';

body {
  text-align: center;
  padding: 40px;
}

.logo {
  max-width: 600px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
}

