%nav
  .row
    .four.columns
      %span.u-pull-left
        Flying Man
        %br
        Brewing Company
    .eight.columns
      %ul.u-pull-right
        %li BEER
        %li EVENTS
        %li NEWS
        %li About
        %li Shop
        %li Contact