%nav
  .row
    .columns.three
      %h1.title
        Flying Man
        %br
        Brewing Company
    .columns.nine
      %ul.u-pull-right
        %li BEER
        %li EVENTS
        %li NEWS
        %li About
        %li Shop
        %li.button Contact