---
title: Welcome to Flying Man Brewery Co.
---

%div
  .logo
    %img{src: 'images/logo.jpg'}
  %h1
    Flying Man Brewery Co.
  %p
    We are a North Austin brewery dedicated to exceptionally crafted ales, world styles, and aviation.
