---
title: Welcome to Flying Man Brewery Co.
---

.hero
  %img.img-responsive{src: 'images/logo.png'}
.container
  %h1
    We are a North Austin brewery dedicated to exceptionally crafted ales, world styles, and aviation.
  %p
    Flying Man Brewing Co is a 30 Barrel brewhouse located in North Austin, TX. We are a kid & dog friendly brewery committed to quality beer & flight. We are currently under construction of our new tap room and outdoor seating area. We plan to open some time between September and October 2016.
  %h1 
    Hours & Location
